@media (max-width: 768px) {
  /* Your CSS rules for small screens go here */
}

/* Add a border to the entire webpage */
body {
  border: 2% solid #1036ce; /* You can change the color by replacing #1036ce with the desired color code */
  margin: 0; /* Remove default margin for full-width border */
  padding: 0; /* Remove default padding for full-width border */
  box-sizing: border-box; /* Ensure padding is included in the total width/height */
}

/* Header CSS with 1% padding */
header {
  background-color: #3498db;
  text-align: center;
  padding: 2%;
  display: flex;
  align-items: center;
  margin: 1px 1px; /* Add 1px margin to the left and right */
}

header img {
  max-width: 11%;
  margin-right: 13.33%; /* Adjust margin to make it 1% of the container width */
}

header h1 {
  color: #fff;
  font-size: 4.2%; /* Adjust font size to be relative to the container width */
  text-align: center;
}

/* Navigation CSS with 1% padding */
nav ul {
  border: 1px solid black;
  list-style-type: none;
  padding: 1px;
}

nav li {
  display: inline;
  margin: 1.33%; /* Adjust margin to make it 1% of the container width */
}

nav a {
  background-color: #3498db;
  border: 1px solid #3498db;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 1.33% 2.67%; /* Adjust padding to be relative to the container width */
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: #2678b2;
  border-color: #2678b2;
}

/* Add CSS for the slider container */
.slider-container {
  width: 100%;
  overflow: hidden;
}

/* Style for the slider */
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Style for individual slides */
.slide {
  min-width: 100%;
}

/* Additional styling for images */
.slide img {
  width: 100%; /* Set the width to 100% to be relative to the container width */
  height: auto; /* Maintain the aspect ratio */
}

/* Footer CSS */
footer {
  background-color: #3498db;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%; /* Increased padding for better spacing */
  margin: 1px 1px;
}

/* CSS for footer icons */
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons a {
  margin: 0 1.33%; /* Adjust the margin to make it 1% of the container width */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons img {
  width: 2.4%; /* Reduced icon size relative to the container width */
  height: auto; /* Maintain the aspect ratio */
}

/* CSS for footer text */
.footer-text {
  text-align: center;
  font-size: 3%; /* Adjust font size to be relative to the container width */
  margin: 0;
}

/* Copyright and attribution text */
.copyright-text {
  text-align: center;
  font-size: 3%; /* Adjust font size to be relative to the container width */
  margin: 0;
}
