/* Add a border to the entire webpage */
body {
  border: 6px solid #1036ce; /* You can change the color by replacing #1036ce with the desired color code */
  margin: 0; /* Remove default margin for full-width border */
  padding: 0; /* Remove default padding for full-width border */
  box-sizing: border-box; /* Ensure padding is included in the total width/height */
}
/* Header CSS with 1px padding */
header {
    background-color: #3498db;
    text-align: center;
    padding: 6px;
    display: flex;
    align-items: center;
    margin: 1px 1px; /* Add 1px margin to the left and right */
  }
  
  header img {
    max-width: 11%;
    margin-right: 400px;
  }
  
  header h1 {
    color: #fff;
    font-size: 42px;
    text-align: center;
  }
   /* Footer CSS */
footer {
  background-color: #3498db;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px; /* Increased padding for better spacing */
  margin: 1px 1px;
}
/* CSS for footer icons */
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons a {
  margin: 0 10px; /* Adjust the margin for spacing */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons img {
  width: 24px; /* Reduced icon size */
  height: 24px; /* Reduced icon size */
}

/* CSS for footer text */
.footer-text {
  text-align: center;
  font-size: 30px;
  margin: 0;
}